body {
	font: normal 11px/16px Tahoma, Verdana, Arial, sans-serif;
	color: #333;
	margin: 20px;
	background-color: Cornsilk;
	}
div
{
	padding: 10px;
}
#logo
	{
		background-image: url("logoback.jpg");
		padding: 20px;
		text-align: center;
	}
	
#aside-block
{
	float: left;
}
	
#links-block
{
	float: right;
}
	
#aside-block, #links-block
{
	display:inline;
	border-style: solid;
    border-width: 1px;
	font-size: 20px;
	color:#8B4513 ;
	background-color: Azure;
}

li
{
	margin: 8px;
}
#link-list
	{
	position: left;
	margin: 5px;
	}

#block-container
{
    text-align:center;
  	width: 100%;
  	display: inline-block;
  	padding: 10px 0px 0px 0px;
}

#main-block
{
	float: none;
	display:inline;
}



a:LINK, a:VISITED, a:ACTIVE
{
	color: #8B4513;
}


/* mouse over link */
a:HOVER {
    color: #DEB887;
}

p
{
	font-size: 15px;
}